@font-face {
    font-family: "KaiseiDecol-Regular";
    src: url("../../public/font/KaiseiDecol-Regular.ttf") format("truetype");
}


.footer-container {
    display: flex;
    flex-direction: column;
    background-color: #b9cfe1;
    padding: 52px 72px;
    gap: 36px;
    font-family: "KaiseiDecol-Regular";
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-title {
    font-size: 1.2rem;
}

.info-text-row {
    display: flex;
    gap: 16px;
}


.info-text-wrapper {
    display:flex;
    gap: 16px;
}

.info-text-1 {
color: #B8BAC6;
}

.info-text-2 {
color: #9698A4;
}