@font-face {
    font-family: "KaiseiDecol-Regular";
    src: url("../../public/font/KaiseiDecol-Regular.ttf") format("truetype");
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #6c7982;
    padding: 15px 0px;
    gap: 20px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    font-family: "KaiseiDecol-Regular";
    opacity: 50%;
}


.mypage-active {
    background-color: #6c7982;
}

.header-section-right {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.header-title {
    font-size: 1.2rem;
}


.header-section-right {
    font-size: 1.0rem;
    display: flex;
    gap: 16px;
}

.header-section-right {
    color: #3b426e;
}


.header-section-right a {
    color: black; 
    margin: 0 15px;
  }
  
.header-section-right a.active {
    color: #060c32; 
    font-weight: bold; 
}
  
.header-title a {
    color: black; 
    margin: 0 15px;
}

.header-title a.active {
    color: #3b426e; 
    font-weight: bold; 
  }

.mypage-active {
    background-color: rgb(10, 52, 65) ;
}
