@font-face {
    font-family: 'KaiseiDecol-Regular';
    src: url("../../public/font/KaiseiDecol-Regular.ttf") format("truetype");
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #6c7982;
    padding: 15px 32px;
    gap: 20px;
    top: 0;
    left: 0;
}

.header-section-right {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.header-title {
    font-size: 1.2rem;
    font-family: 'KaiseiDecol-Regular';
}

.header-title {
    font-family: 'NanumMyeongjo';
}

.header-section-right {
    font-size: 1.0rem;
    display: flex;
    gap: 16px;
    font-family: 'NanumMyeongjo';
}

.header-section-right {
    color: #3b426e;
}

.header-active {
    color: #947ac8;
}

.header-section-right a {
    color: black; 
    text-decoration: none;
    margin: 0 15px;
  }
  
  .header-section-right a.active {
    color: #16823c; 
    font-weight: bold; 
  }
  